
    {
      "enabled": true,
      "type": "jenkins",
      "master": "{{ data.app.triggers.jenkins.master }}",
      "job": "{{ data.app.triggers.jenkins.job }}",
      "propertyFile": "{{ data.app.triggers.jenkins.property_file }}"
    }
