{
    "type": "ec2",
    "owner_email": "",
    "documentation": "",
    "notifications": {
        "email": "",
        "slack": ""
    },
    "promote_restrict": "none",
    "base": "tomcat8",
    "env": ["stage", "prod"],
    "primary_region": "us-east-1",
    "image": {
        "root_volume_size": 6,
        "builder": "ebs",
        "extended_attributes": {
          "app_group": "${ trigger.properties.GROUP_NAME }",
          "app_name": "${ trigger.properties.APP_NAME }",
          "appversion": "${ trigger.properties.APP_VERSION }"
        }
    },
    "lambda": {
        "app_description": "default description",
        "runtime": "java8",
        "handler": "main",
        "vpc_enabled": false
    },
    "pipeline_files": [],
    "triggers": {
        "jenkins": {
            "master": "JenkinsCI",
            "job": "",
            "property_file": "jenkins_vars"
        }
    },
    "package": "${ trigger.properties.ARTIFACT_RPM }"

}
